<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bienvenido a CLESSIDRA!</title>
        <link rel="stylesheet" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet"/>
        <script src="https://kit.fontawesome.com/d527a23742.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    </head>
    
    <body>
        <header class="header">

            <div class="header-top">
                <div class="top-left">
                    <div class="logo">
                        <a href="/"><h3>CLESSIDRA</h3></a>
                    </div>

                    <div class="searchbox">
                        <i class="fa fa-search"></i>  
                        <input type="text" placeholder="Buscar prendas" />
                    </div>
                </div>
                <nav class="top-right">
                    <ul class="nav-links">
                        <li><a href="/registro">Registro<i class="fas fa-user-circle"></i></a></li>
                        <li><a href="/login">Log in<i class="fas fa-sign-in-alt"></i></a></li>
                    </ul>
                </nav>
            </div>

            <div class="header-bottom">
                <nav class="site-nav">
                    <ul class="nav-links">
                        <li><a href="#">Mujer</a></li>
                        <li><a href="#">Hombre</a></li>
                        <li><a href="#">Vendedores</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="/carrito">Carrito</a></li>
                    </ul>
                    <div class="burger-menu">
                        <i class="fas fa-bars"></i>
                    </div>
                </nav>
            </div>

        </header>

        <main class="main">
            <h3 class="title">Bienvenid@ a Clessidra !</h3>

            <p class="howto">
                El siguiente carrusel te mostrará los productos más relevantes de acuerdo a tus gustos y preferencias indicados al momento de crear tu perfil.<br>
            </p>
            
            <div class="carousel">
                <button class="carousel__button carousel__button--left">
                    <i class="fas fa-chevron-left"></i>
                </button>

                <div class="carousel__track-container">
                    <ul class="carousel__track">
                        <li class="carousel__slide">
                            <a href="/product">
                            <img class="carousel__image" src="https://i.imgur.com/Rq0nf6K.jpg" alt="">
                            <ul class="product-detail">
                                <li>Pastel Jacket With Bejewelled Collar</li>
                                <li>AR$ 799</li>
                                <li>Stock: 4</li>
                                <li>Tiempo restante: 04:12:07</li>
                            </ul>
                            </a>
                            <a href="/carrito"><i class="far fa-thumbs-up"></i></a>
                            <i class="far fa-thumbs-down"></i>
                        </li>
                    </ul>
                </div>

                <button class="carousel__button carousel__button carousel__button--right">
                    <i class="fas fa-chevron-right"></i>
                </button>

                <div class="carousel__nav">
                    <button class="carousel__indicator current-slide"></button>
                    <button class="carousel__indicator"></button>
                    <button class="carousel__indicator"></button>
                </div>
            </div>
        </main>

        <footer>
            <div class="main-footer">
              <section class="fter">
                <i class="fab fa-whatsapp"></i>
                <h2>DUDAS?</h2>
                <article>Consultanos cualquier duda antes de comprar via Whatsapp</article>
              </section>
              <section class="fter">
                <i class="fas fa-shipping-fast"></i>
                <h2>ENVIOS Y RETIROS</h2>
                <article>Chequeá todas las opciones en tu carrito de compra antes de pagar.</article>
              </section>
              <section class="fter">
                <i class="fas fa-user-shield"></i>
                <h2>100% SEGURO</h2>
                <article>¿No te gusta? ¡Devolvelo gratuitamente! En Clessidra estás siempre protegid@.</article>
              </section>
            </div>
            <div class="bottom-footer">Copyright © 2022 Clessidra S.R.L.</div>
        </footer>

    </body>
</html>

