* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #fbfbff;
    margin: auto;
}

/*///////////////////////////////   HEADER   ///////////////////////////////*/
.header {
    margin: auto;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

/*///////////////////////////////   Header Top   ///////////////////////////////*/
.header-top{
    width: 100%;
    padding: 10px 15px;
}

.top-left {
    padding: 5px;
}

.logo {
    font-size: x-large;
    padding: 20px 0;
    text-align: center;
}

.logo a {
    text-decoration: none;
    align-self: center;
    color: #6c6161;
}

.logo a h3 {
    font-weight: bold;
}

.logo:hover a {
    color: #D54780;
}

.searchbox {
    position: relative;
    margin: auto;
    width: 70%;
    display: flex;
    align-content: center;
}

.searchbox input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    text-align: center;
    outline: 0;
    padding-left: 25px;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid #ee964b;
    box-sizing: border-box;
    transition: all 0.5s;
}

.fa-search {
    position: absolute;
    display: flex;
    left: 10px;
    color: #b7b7b7;
    top: 11px;
    cursor: pointer;
    transition: all 0.5s;
}

.top-right {
    text-align: right;
    padding: 5px;
}

.top-right .nav-links {
    padding: 0;
}

.top-right .nav-links li {
    padding: 10px 0;
    text-align: center;
}

.top-right a {
    padding-right: 5px;
}

ul li {
    list-style: none;
}

ul li a {
    font-weight: 700;
    color: #6c6161;
    text-decoration: none;
}

ul li:hover a {
    color: #D54780;
}

ul li a i {
    padding-left: 5px;
}

/*///////////////////////////////   Header Bottom   ///////////////////////////////*/
.header-bottom{
    padding: 20px 5px;
}

.site-nav ul.nav-links {
    display: none;
}

.site-nav ul li a {
    padding: 5px;
    color: #c5c5c5;
}

.site-nav ul li:hover a {
    color: #D54780;
}

.burger-menu {
    background: #ee964b;
    border: #D54780 solid 1px;
    font-size: 20px;
    color: #ffffff;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/*///////////////////////////////   MAIN   ///////////////////////////////*/

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background-color: #ffffff;
    width: 800px;
    max-width: 90vw;
    padding: 50px 0;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

h3.title {
    text-align: center;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;    
}

p.howto {
    margin: auto;
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
}

.carousel {
    position: relative;
    margin: 0 auto;
    height: 300px;
    width: 60%;
    margin: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.carousel__image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul.product-detail {
    position: absolute;
    font-size: 15px;
    text-shadow: 0px 0px 5px #ffffff;
    padding: 5px;
    color: #ffffff;
    bottom: 0;
}

li.carousel__slide i {
    position: absolute;
    padding: 10px;
    color: #ffffff;
    text-shadow: 0px 0px 5px #ffffff;
}

li.carousel__slide i.fa-thumbs-up {
    top: 0;
    right: 0;
}

li.carousel__slide i.fa-thumbs-down {
    top: 0;
    left: 0;
}

li.carousel__slide i.fa-thumbs-up:hover {
    color: greenyellow;
    text-shadow: 0px 0px 5px greenyellow;
}

li.carousel__slide i.fa-thumbs-down:hover {
    color: #D54780;
    text-shadow: 0px 0px 5px #D54780;
}

.carousel__track-container {
    height: 100%;
    position: relative;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    color: rgb(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button:hover {
    color: rgb(0, 0, 0);
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}

.carousel__button i {
    width: 12px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(238, 150, 75, 0.4);
    margin: 0 12px;
}

.carousel__indicator:hover {
    background-color: rgb(238, 150, 75, 0.95);
}

.carousel__indicator.current-slide {
    background-color: rgb(238, 150, 75, 0.95);
}

/*///////////////////////////////   FOOTER   ///////////////////////////////*/

footer{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    background-color:#d65780;
    text-align: center;
    padding-bottom: 0;
    justify-items: flex-end;
    height:max-content;
  }
  
  .main-footer{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    margin:auto;
    gap: 20px;
    max-width: 900px;
  }
  
  .fter{
    display: block;
    text-align: center;
    padding:15px;
    gap: 5px;
    max-width: 25%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
  }
  
  
  .fter h2{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    height: 2em;
    
  }
  
  .fter article{
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    height: max-content;
    
  }
  
  .fter i{
    color: #fff;
    font-size: 28px;
    height: 1.5em;  
  }
  
  .bottom-footer{
    text-align: center;
    width: 100%;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000000;
    margin-bottom: auto;
  }

/*///////////////////////////////   TABLET   ///////////////////////////////*/

@media (min-width: 361px){
    .header-top{
        display: flex;
        justify-content: space-between;
        padding: 10px 2px;
    }
    .top-left {
        width: 70%;
    }
    .logo {
        padding: 5px 0;
        margin-left: 20px;
        text-align: start;
    }
    .searchbox {
        padding: 5px 0;
    }
    .searchbox input {
        width: 150px;
        text-align: start;
    }
    .fa-search {
        position: absolute;
        top: 17px;
        left: 0;
    }
    .top-right {
        padding: 5px 0;
        margin-right: 20px;
    }
    .site-nav ul.nav-links {
        display: flex;
        justify-content: space-around;
    }
    .top-right .nav-links li {
        padding: 14px 0;
        text-align: right;
    }
    .burger-menu {
        display: none;
    }
    .carousel {
        width: 250px;
    }
}

/*///////////////////////////////   DESKTOP   ///////////////////////////////*/

@media (min-width: 769px){
    .top-left {
        display: flex;
        width: 70%;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        margin-left: 30px;
    }
    .searchbox {
        width: auto;
        margin: 0%;
        padding-right: 30px;
    }
    .searchbox input {
        width: auto;
    }
}