<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/header') %>
<main>
    <h3>Carrito de compras</h3>
<div class="cart-main-container">
    <div class="cart-container-2">
        <section class="cart-container-4">
            <div class="cart-productos">
                <img src= "\images\remera-carrito.jpg" id="fotoProductomin"></img>
            </div>
            <div class="cart-productos">    
                Ropa en venta
            </div>
        </section>
        
    </div>
    <div class="cart-container-3">
        <section>
            <h3>SUBTOTAL</h3>
            <h3>$3000</h3>
        </section>
        <section>
            <h3>CUPON DESCUENTO</h3>
            <h3>$XXXX</h3>
        </section>
        <section>
            <h3>METODO DE ENVIO</h3>
            <h3>XXXXX</h3>
        </section>
        <section>
            <h3>COSTO ENVIO</h3>
            <h3>$300</h3>
        </section>
        <section>
            <h2>TOTAL</h2>
            <h2>$3300</h2>
        </section>
        <button>Finalizar Compra</button>
    </div>
</div>






<!-- 
    <main class="cart-main">
<div>
    <h3>Carrito de compras</h3>
</div>
<div class="cart-productos">
    <section>
        <img src= "\images\remera-carrito.jpg" id="fotoProductomin"></img></span>
    </section>
    <section>
        <a href="/productDetail"id="nombreProducto">REMERA SUB-URBAN</a>

    </section>
</div> 
 --> 
</main>
<%- include('./partials/footer') %>
</body>
</html>