<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bienvenido a CLESSIDRA!</title>
        <link rel="stylesheet" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet"/>
        <script src="https://kit.fontawesome.com/d527a23742.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    </head>
    
    <body>

        <%- include('./partials/header') %>

        <main class="main">
            <h3 class="title">Bienvenid@ a Clessidra !</h3>

            <p class="howto">
                El siguiente carrusel te mostrará los productos más relevantes de acuerdo a tus gustos y preferencias indicados al momento de crear tu perfil.<br>
            </p>
            
            <div class="carousel">
                <button class="carousel__button carousel__button--left">
                    <i class="fas fa-chevron-left"></i>
                </button>

                <div class="carousel__track-container">
                    <ul class="carousel__track">
                        <li class="carousel__slide">
                            <a href="/product">
                            <img class="carousel__image" src="https://i.imgur.com/Rq0nf6K.jpg" alt="">
                            <ul class="product-detail">
                                <li>Pastel Jacket With Bejewelled Collar</li>
                                <li>AR$ 799</li>
                                <li>Stock: 4</li>
                                <li>Tiempo restante: 04:12:07</li>
                            </ul>
                            </a>
                            <a href="/carrito"><i class="far fa-thumbs-up"></i></a>
                            <i class="far fa-thumbs-down"></i>
                        </li>
                    </ul>
                </div>

                <button class="carousel__button carousel__button carousel__button--right">
                    <i class="fas fa-chevron-right"></i>
                </button>

                <div class="carousel__nav">
                    <button class="carousel__indicator current-slide"></button>
                    <button class="carousel__indicator"></button>
                    <button class="carousel__indicator"></button>
                </div>
            </div>
        </main>

        <%- include('./partials/footer') %>

    </body>
</html>

