<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>

<body>
  <%- include('./partials/header') %>
  <main class="form-signin">  
    <div>
      <a class="logo" href="/">CLESSIDRA</a>
    </div>
    <form method="post" action="/users/login" enctype="multipart/form-data">
      <h1 class="form-title h3 mb-3 fw-normal">Bienvenido/a!<br>Por favor ingresá tus datos:</h1>    
      <div class="form-floating">
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="email">Correo electrónico</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" placeholder="Password">
        <label for="password">Contraseña</label>
      </div>
      <br>
      <div class="checkbox mb-3">
        <label>
        <input type="checkbox" value="remember-me"> Recordarme
        </label>
      </div>
      <button class="btn-enviar w-100" type="submit">Entrar</button>
    </form>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>     
    <div class="or-container">
      <div class="line-separator text-secondary"></div>
      <div class="or-label">o</div>
      <div class="line-separator"></div>
    </div>
    <div class="form-floating">
      <button type="button" class="btn-outline-secondary google-btn"> <img src="https://img.icons8.com/color/48/000000/google-logo.png"> Entrar con Google+</button>
    </div>
      <br>
    <div class="form-floating">
      <button type="button" class="btn-outline-secondary facebook-btn"> <img src="https://img.icons8.com/fluency/48/000000/facebook-new.png"> Entrar con Facebook</button>       
    </div> 
    <br>
    <p class="text-inverse text-center">No tenés cuenta aún? <a href="/users/registro" data-abc="true">Registrate</a></p>

  </main>

  <%- include('./partials/footer') %>
  
</body>
</html>





