<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle de producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="./css/product.css" />
  </head>
  <body>
    <%- include('./partials/header') %>
    <main>
      <div class="container">
        <div class="card">
          <div class="form">
            <div class="left-side">
              <!-- breadcrums -->
              <div class="woman">
                <h5>Woman</h5>
                <i class="fa fa-angle-right"></i>
                <p>Pastel Jacket with Bejewelled Collar</p>
              </div>
              <div class="images">
                <div class="img_girl_left">
                  <i class="fa fa-angle-up"></i>
                  <!-- Imagenes secundarias -->
                  <span><img src="https://i.imgur.com/Rq0nf6K.jpg.jpg" /></span>
                  <span><img src="https://i.imgur.com/Rq0nf6K.jpg.jpg" /></span>
                  <span><img src="https://i.imgur.com/Rq0nf6K.jpg.jpg" /></span>
                  <i class="fa fa-angle-down"></i>
                </div>
                <!-- Imagen principal -->
                <span><img src="https://i.imgur.com/Rq0nf6K.jpg.jpg" /></span>
              </div>
            </div>
            <div class="right-side">
              <div class="indexing">
                <span><i class="fa fa-angle-left"></i> Prev</span>
                <small>2 of 10</small>
                <span>Next <i class="fa fa-angle-right"></i></span>
              </div>
              <h3>Pastel Jacket With Bejewelled Collar</h3>
              <h4>AR$ 799</h4>
              <div class="designer">
                <h5>Vendedor:</h5>
                <p>Mademoiselle Tambour</p>
              </div>
              <div>
                <p>melle</p>
                <h3>TAMBOUR</h3>
                <h5>Mademoiselle Tambour</h5>
              </div>
              <div class="designer">
                <h5>Color :</h5>
                <p>Tobacco Brown</p>
              </div>
              <div class="color">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="options">
                <div class="size">
                  <select>
                    <option>Talle : S</option>
                    <option>Talle : M</option>
                    <option>Talle : L</option>
                    <option>Talle : XL</option>
                  </select>
                </div>
                <div class="quantity">
                  <i class="fa fa-minus"></i> <span class="qty">1</span>
                  <i class="fa fa-plus"></i>
                </div>
                <button>Agregar al carrito</button>
                <a href="/product/4/create"><button id="edit">Editar Producto</button></a>
              </div>
              <div class="open_wish">
                <p>Open sizes guide</p>
                <div class="wishlist">
                  <i class="fa fa-heart-o"></i>
                  <p>Add to Wishlist</p>
                </div>
              </div>
              <div class="description">
                <h4>Descripción</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Temporibus commodi quibusdam rem voluptate quae debitis.
                </p>
                <ul class="features">
                  <li>Rem voluptate</li>
                  <li>Amet consectetur</li>
                  <li>Temporibus commodi</li>
                  <li>Adipisicing elit</li>
                </ul>
                <p>Side length 31.5cm</p>
                <p class="1">Back length 56.5cm</p>
              </div>
              <div class="share">
                <h4>Compartir</h4>
                <div class="social">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-twitter"></i>
                  <i class="fa fa-pinterest"></i>
                  <i class="fa fa-google-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="./js/product.js"></script>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
