<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>

<body>
  <%- include('./partials/header') %>
  <main class="form-signin">
    <h1 class="form-title h3 mb-3 fw-normal">Bienvenido/a!<br>Por favor ingresar datos de producto:</h1> 
    <div>  
      <form method="post" action="/productos/create" enctype="multipart/form-data">      <div class="form-group">
        <label for="productName">Nombre de producto</label>
        <input type="text" class="form-control" id="productName" >
      </div>
      <div class="form-group">
        <label for="productDescription">Descripción del producto</label>
        <textarea class="form-control" id="productDescription" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="Categorias">Categorías de productos</label>
        <select multiple class="form-control" id="categorias">
          <option value="mujeres">Mujeres</option>
          <option value="hombres">Hombres</option>
          <option value="ninos">Niños</option>
          <option value="invierno">Invierno</option>
          <option value="verano">Verano</option>
        </select>
      </div>
      <div class="form-group">
        <label for="Categorias">Seleccionar Talle</label>
        <select class="form-select" id="talle">
          <option selected>Seleccionar talle</option>
          <option value="XS">XS</option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
          <option value="XXL">XXL</option>
        </select>
      </div>
      <div class="form-group">
        <label for="Categorias">Colores disponibles</label>
        <select class="form-select" id="color">
          <option selected>Seleccionar color</option>
          <option value="negro">Negro</option>
          <option value="blanco">Blanco</option>
          <option value="azul">Azul</option>
          <option value="verde">Verde</option>
          <option value="marron">Marron</option>
        </select>
      </div>
      <div class="form-group">
        <label for="productStock">Stock disponible (unidades)</label>
        <input type="number" class="form-control" id="productStock" >
      </div>
      <div class="form-group">
        <label for="productName">Precio de venta $</label>
        <input type="number" class="form-control" id="productPrice" >
      </div>
      <div class="form-group">
        <label for="productImage">Imagen del producto</label>
        <input type="file" class="form-control-file" id="productImage">
      </div>
      <br>
      <button class="btn-enviar w-100 " type="submit">Enviar</button>
    </form>
  </div>
  </main> 

<%- include('./partials/footer') %>
</body>
</html>