<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>

<body>
  <%- include('./partials/header') %>
  <main class="form-signin">
    <h1 class="form-title h3 mb-3 fw-normal">Bienvenido/a!<br>Por favor ingresar datos de producto:</h1> 
    <div>  
    <form method="post">
      <div class="form-group">
        <label for="productName">Nombre de producto</label>
        <input type="text" class="form-control" id="productName" >
      </div>
      <div class="form-group">
        <label for="productDescription">Descripción del producto</label>
        <textarea class="form-control" id="productDescription" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="productImage">Imagen del producto</label>
        <input type="file" class="form-control-file" id="productImage">
      </div>
      <div class="form-group">
        <label for="Categorias">Categorías de productos</label>
        <select multiple class="form-control" id="categorias">
          <option>Mujeres</option>
          <option>Hombres</option>
          <option>Niños</option>
          <option>Invierno</option>
          <option>Verano</option>
        </select>
      </div>
      <div class="form-group">
        <label for="Categorias">Talles disponibles</label>
        <select multiple class="form-control" id="categorias">
          <option>XS</option>
          <option>S</option>
          <option>M</option>
          <option>L</option>
          <option>XL</option>
          <option>XXL</option>
        </select>
      </div>
      <div class="form-group">
        <label for="Categorias">Colores disponibles</label>
        <select multiple class="form-control" id="categorias">
          <option>Negro</option>
          <option>Blanco</option>
          <option>Azul</option>
          <option>Verde</option>
          <option>Marron</option>
        </select>
      </div>
      <div class="form-group">
        <label for="productName">Precio de venta</label>
        <input type="text" class="form-control" id="productPrice" >
      </div>

      <br>
      <button class="btn-enviar w-100 " type="submit">Enviar</button>
    </form>
  </div>
  </main> 

<%- include('./partials/footer') %>
</body>
</html>