<footer>
  <div class="main-footer">
    <section class="fter">
      <i class="fab fa-whatsapp"></i>
      <h2>DUDAS?</h2>
      <article>
        Consultanos cualquier duda antes de comprar via Whatsapp
      </article>
    </section>
    <section class="fter">
      <i class="fas fa-shipping-fast"></i>
      <h2>ENVIOS Y RETIROS</h2>
      <article>
        Chequeá todas las opciones en tu carrito de compra antes de pagar.
      </article>
    </section>
    <section class="fter">
      <i class="fas fa-user-shield"></i>
      <h2>100% SEGURO</h2>
      <article>
        ¿No te gusta? ¡Devolvelo gratuitamente! En Clessidra estás siempre
        protegid@.
      </article>
    </section>
  </div>
  <div class="bottom-footer">Copyright © 2022 Clessidra S.R.L.</div>
</footer>