<header class="header">

    <div class="header-top">
        <div class="top-left">
            <div class="logo">
                <a href="/"><h3>CLESSIDRA</h3></a>
            </div>

            <div class="searchbox">
                <i class="fa fa-search"></i>  
                <input type="text" placeholder="Buscar prendas" />
            </div>
        </div>
        <nav class="top-right">
            <ul class="nav-links">
                <li><a href="/registro">Registro<i class="fas fa-user-circle"></i></a></li>
                <li><a href="/login">Log in<i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
        </nav>
    </div>

    <div class="header-bottom">
        <nav class="site-nav">
            <ul class="nav-links">
                <li><a href="#">Mujer</a></li>
                <li><a href="#">Hombre</a></li>
                <li><a href="/product/4/create">Vender</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="/carrito">Carrito</a></li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </div>

</header>